extends ../layout

block content
    .container
        .row
            ol.breadcrumb
                li: a(href="/") Home
                li: a(href="/collection") Collection
                if(currentCollection.id > 0)
                    li: a(href=`/collection/detail/${currentCollection.parent}/1`) Up Level
                li.active=currentCollection.name
        if(records.length > 0)
            .row
                each col in records
                    .col-sm-3.col-md-2
                        .thumbnail
                            a(href=`/collection/${col.type=="c" ? "" : "gallery/"}detail/${col.id}/1`)
                                img(src=col.type=="c" ? "/img/collection-bg.jpg" : col.cover, alt=col.name)
                                .caption.text-center=col.name
            .row
                include ../includes/pager.pug 
        else
            .row
                .col-xs-12.text-center
                    h3 No data found